.benefits{
    &-container{
        width: 100%;
        max-width: 720px;
        padding: 0 var(--gap-h);

        @media (max-width: $mq-960){ max-width: 100%;  }
    }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 64px;
        }
            &__title{
                @include f-psubtitle();
                text-align: center;
                max-width: 500px;
                width: 100%;
                margin-bottom: 20px;
            }
            &__description{
                @include f-description();
                text-align: center
            }
        &__cards{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: var(--grid-gap);

            @media (max-width: $mq-560){ grid-template-columns: 1fr; }
        }
       
}