@font-face {
	font-family: 'Cabin-Bold';
	src: url('../../fonts/Cabin-Bold.ttf') format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Cabin-SemiBold';
	src: url('../../fonts/Cabin-SemiBold.ttf') format('truetype');
	font-weight: 600;
}
@font-face {
	font-family: 'Cabin-Regular';
	src: url('../../fonts/Cabin-Regular.ttf') format('truetype');
	font-weight: 400;
}
@font-face {
	font-family: 'Inter-Regular';
	src: url('../../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
}
